.bg-1 {
    background-color: #c8d5ff;
}
.bg-2 {
    background-color: #e4eaff;
}
.bg-3 {
    background-color: #403F6F;
}
.bg-4 {
    background-color: #002776;
}
.bg-5 {
    background-color: #2c344e;
}

.text-1 {
    color: #C8D5FF;
}
.text-2 {
    color: #E4EAFF;
}
.text-3 {
    color: #002776;
}
